/* Stylesheet by Bethelhem Telahun, 2026 */

#mapbox {
            background-color: yellow;
            width: 100%;
            margin: 0 auto;
            height: 20 px;
			font-family: Verdana;
			color: green;
        }

#mydiv {
            background-color: yellow;
            width: 100%;
            margin: 0 auto;
            height: 20 px;
			font-family: Verdana;
			color: green;
        }
